<style>
#header{;}

#h2{
	font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
	border-left: 0.5em solid #4F9CEE;
	padding: 0.1em 0 0.1em 0.5em;
	}

#nav{
	font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
	line-height:30px;
	background-color:gray;
	color:white;
	width:100px;
	padding:10px 15px;
}
#footer{
	float :left;
	font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
	background-color:black;
	color:white;
	clear:both;
	text-align:bottom;
	padding:10px;
	width:700px;
	text-align:center;
}
</style>